* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: linear-gradient(to right, #7c8a87, #11a59e);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    color: white;
}

#divBienvenida {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    font-size: 2rem;
}

#divBienvenida h2 {
    color: white;
}

#divFecha {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    font-size: 1.5rem;
}

/* Define la animación de desvanecimiento */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Clase para aplicar la animación */
.fade-in {
    opacity: 0;
    /* Comienza oculto */
    animation: fadeIn 5s ease-out forwards;
    /* Animación de 5 segundo */
}