:root {
    @each $b in $border {
        --border-#{$b}: #{$b}px;
    }

    @each $b in $border-radius {
        --border-radius-#{$b}: #{$b}px;
    }

    @each $name, $code in $colors {
        $cont : 10;

        @each $c in $code {
            --color-#{$name}-#{$cont}: #{$c};
            $cont: $cont+10;
        }
    }

    @each $name, $code in $colors {
        $cont : 10;

        @each $c in $code {
            --background-color-#{$name}-#{$cont}: #{$c};
            $cont: $cont+10;
        }
    }

    @each $name, $value in $fonts {
        --font-#{$name}: #{$value};
    }

    @each $f in $font-size {
        --font-size-#{$f}: #{$f}px;
    }

    @each $m in $margin {
        --margin-#{$m}: #{$m}px;
    }

    @each $p in $padding {
        --padding-#{$p}: #{$p}px;
    }

    @each $z in $index {
        --z-index-#{$z}: #{$z};
    }
}