l-horizontal{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

l-vertical{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}