div{
    margin:5rem;
    
}

button{
    width: 10rem;
    height: 4rem;
    color:white ;   
    border-radius: 15px;
    font-size: 1rem; 
}

div button{
    margin: 2rem;
}

#btnN1{
    border: 5rem;
    background-color: blue;
}

#bntN2{
    border-radius: 2px;
    border-color:blue ;
    background-color: white;
    color: blue;
}

#bntN3{
    border: none;
    background-color: white;
    color: blue;
    font-weight: bold;
}

#btnA1{
    border: 5rem;
    background-color: orange;
}

#btnA2{
    border-radius: 2px;
    border-color:orange ;
    background-color: white;
    color: orange;
}

#btnA3{
    border: none;
    background-color: white;
    color: orange;
    font-weight: bold;

}

#btnD1{
    border: 5rem;
    background-color: red;
}

#btnD2{
    border-radius: 2px;
    border-color:red ;
    background-color: white;
    color: red;
}

#btnD3{
    border: none;
    background-color: white;
    color: red;
    font-weight: bold;

}